@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Anasayfa</h1>
    <p>Bu uygulama metabase'den paylaşılan bir dashboard'u sayfaya üzerine gömer.</p>
    <p>Navigasyon sekmesinden <strong>Metabase</strong>'e tıklayarak ilgili sayfaya gidin</p>
    <p>Bu projede amaç, Metabase ile etkileşimli ve görsel dashboard'lar oluşturmak ve bu
        dashboard'ları ASP.NET Core tabanlı bir web uygulamasına gömmektir.
    </p>
</div>
