@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Anasayfa</h1>
    <p>Bu uygulama metabase'den paylaşılan bir dashboard'u sayfaya üzerine gömer.</p>
    <p>Navigasyon sekmesinden <strong>Metabase</strong>'e tıklayarak ilgili sayfaya gidin</p>
</div>
