@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Anasayfa</h1>
    <p>Bu uygulama metabase üzerindeki bir dashboard içerisinden grafikleri sunar.</p>
</div>
